/*Libreria de letras*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*Responsive Mobile*/
*{
    margin: 0px;
    padding: 0px;
}
/*Contenedor*/
.contenedor{
    width: 100%;
    height: 100vh;
    display:grid;
    grid-template-columns: 100%;
    grid-row-gap: 10px;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "cabecera"
    "titulo"
    "productos"
    "pie"
    ;
}

/*Contenedor Modificado*/
.contenedor--mod{
    width: 100%;
    height: 100vh;
    display:grid;
    grid-template-columns: 100%;
    grid-row-gap: 10px;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    "cabecera"
    "titulo"
    "contacto"
    "formulario"
    "pie"
    ;
}
/*Cabecera*/
.cabecera{
    grid-area: cabecera;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-image: url(../img/26800.jpg);
    background-size: contain;
}
/*Logo de cabecera*/
.logo{
    width: 30%;
    text-align: center;
}
/*Imagen del logo*/
.logo_foto{
    width: 100px;
}

/*Menu*/
.menu ul{
    font-size: 16px;
    list-style: none;
    text-align: center;
}
/*Elementos del Menu*/
.menu ul li {
    font-weight: bold;
    display: inline-block;
    position:relative;
    padding: 3px;
}
/*Enlaces del Menu*/
.menu ul li a:hover{
    color: orange ;
}
/*Textos del Menu*/
.menu ul li a{
    color: #172c66 ;
}
/*Títulos de paginas*/

.titulo{
    grid-area: titulo;
}

/*Textos de Título*/
h1{
    animation: aparece 5s infinite;
    color:rgb(241, 78, 19);
    font-size: 25px;
    font-weight: 200;
    font-family: 'Lobster', cursive;
    text-align: center;
}
/* Anaimación Titulo h1*/
@keyframes aparece{
    0%{opacity:0;}
    50%{opacity:0.5;}
    75%{opacity:0.75;}
    100%{opacity:1;}
}

h2{
    color:rgb(27, 87, 59);
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lobster', cursive;
    text-align: center;
}

/*Sección de productos*/
.productos{
    grid-area: productos;
    display:flex;
    flex-direction: column;
    justify-content: center;
   
    background: radial-gradient(circle, rgba(230,174,238,1) 0%, rgba(148,228,233,1) 100%);
}
/*Clases categorias de productos e información*/
.categoria, .info__div{
    width: 100%;
    padding: 15px;
}

/*Imagenes de productos e información*/
.categoria__foto, .info__foto{
    width: 80%;
    margin-left: 50px;
    align-items: center;
    animation: aparecer 5s 1;
}
/* Anaimación Imagenes*/
@keyframes aparecer{
    0%{opacity:0;}
    50%{opacity:0.5;}
    75%{opacity:0.75;}
    100%{opacity:1;}
}
/* Nombre de productos*/
.nombre{ 
    color: rgb(226, 25, 25);
    font-size: 17px;     
    text-align: center;
    font-family: 'Lobster';
    animation: aparece_Tex 5s 1;
}

/* Anaimación nombre*/
@keyframes aparece_Tex{
    0%{opacity:0;}
    50%{opacity:0.5;}
    75%{opacity:0.75;}
    100%{opacity:1;}
}

/*Clase descripción de categorias de productos*/
.descripcion{
    color:rgb(27, 87, 59);
    font-size: 16px;     
    text-align: center;
}

/*Clase división sección de información*/
.info__div p{
    width: 95%;
    color: black;
    font-size: 15px;     
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

/*Sección de contacto*/
#contacto{
    grid-area:contacto;
    display:flex;
    flex-direction: row;
    background-color:#f3d2c1;
}
/*Información de contacto*/
.info__contacto{
    width: 45%;
    vertical-align:text-top; 
     font-size: 18px;
}

/*Video de contacto*/
#video_info{
    width: 80%;
}

/*Formulario de contacto*/
#formulario{
    grid-area:formulario;
    padding: 15px;
    font-size: 18px;
}

/*Sección Pie de página*/
.pie{
    grid-area:pie;
    background-color:#f3d2c1;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

/*Iconos de pie de página*/
.icono{
    padding: 35px;
}
.pie__icono{
    width: 40px;
}

.pie p{
    display:none;
 }

.home{
    display:none;
}

/*Responsive Tablet*/
 @media only screen and (min-width: 768px){
    
    /*Menu*/
    .menu ul{
        font-size: 20px;
    }

    /*Icono de inicio en menu*/
    .home{
        width: 50px;
        display: block;
    }  
    
    /*Títulos de paginas*/
    h1{
        font-size: 30px;
    }

    h2{
        font-size: 20px;
    }

    /*Sección de productos*/
    .productos{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

    }
    /*Clases categorias de productos*/      
     .categoria{
        width: 40%;
    }
    /*Imagenes de productos*/
    .categoria__foto{
       width: 100%;
       margin-left: 0;
       height: 300px;
    }
     
    /*Trasformación imagenes de productos*/
    .categoria__foto:hover {
        border: 4px solid darkred;
        transform: scale(1.03) translate(-10px, -10px);
        transition:  0.5s;
    }
    /*Clase nombre de productos*/
    .nombre{
        font-size: 20px;     
    }
    /*Clase descripción de productos*/   
    .descripcion{
        font-size: 18px;     
     }

    /*Imagen sobre nosotros*/
    .info__foto{
        width: 100%;
        height: 400px;
     }
     
    /*Sobre nosotros */
    .info__div p{
        width: 100%;
        font-size:20px;     
    }
   
    /*Contenedor modificados para page contacto*/
    .contenedor--mod{
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "cabecera cabecera"
        "titulo titulo"
        "contacto formulario"
        "pie pie"
        ;
    }

    /*Clase información de contacto*/
    .info__contacto{
       font-size: 18px;
    }

    /*Clase formulario de contacto*/
     #formulario{
        font-size: 18px;
     }
    
     /*Texto de pie de página*/
    .pie p{
        display:contents;
        color:#001858;
        font-size: 20px;
        text-align: center;
    } 
   /*Ocultar iconos de pie de página*/
   .icono{
    display: none;
}
 }
 

 /*Responsive Desktop*/
@media only screen and (min-width: 1280px){
    
    /*Cabecera*/
    .cabecera{
         flex-direction: row;
         justify-content: center;
    }
    /*Logo de cabecera*/ 
    .logo{
        width: 30%;
        text-align: left;
    }
    /*Imagen del logo*/    
    .logo_foto{
        width: 150px;
    }
    /*Menu*/
    .menu ul{
        font-size: 25px;
    }
    /*Títulos de paginas*/
    h1{
        font-size: 50px;
    }

    h2{
        font-size: 30px;
    }
    /*Clases categorias de productos*/
    .categoria{
        width: 30%;
        text-align: center;
    }
    /*Imagenes de productos */
    .categoria__foto{
        width: 100%;
        height:350px;
    }
    /* Nombre de productos*/
    .nombre{ 
        font-size: 25px;     
    }
    /*Clase descripción de categorias de productos*/
    .descripcion{
        font-size: 22px;     
     }
    
    .info__div{
        width: 45%;
    }
    /*Clase división sección de información*/
    .info__div p{
        font-size:30px;     
    }
     /*Información de contacto*/   
    .info__contacto{
        font-size: 25px;
     }
    /*Formulario de contacto*/
      #formulario{
         font-size: 25px;
      }
 
}
